<div *ngIf="(product$ | async) as product">
    <div>
        <img [src]="product?.image" alt="" width="300px" height="300px">
    </div>
    <div>
        <ul>
            <li>Nombre: {{product?.title}}</li>
            <li>Precio: {{product?.price | currency}}</li>
        </ul>
        <p>{{product?.description}}</p>
    </div>
    <button (click)="createProduct()" >Crear</button>
    <button (click)="updateProduct()" >Editar</button>
    <button (click)="deleteProduct()" >Eliminar</button>
    <button (click)="getRndUser()" >Random</button>
    <button (click)="getFile()" >File</button>
</div>
